@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    25/22 Normanby Road,<br />
    Mt Eden, Auckland, 1024<br />
    <abbr title="Phone">P:</abbr>
    022 577 6225
</address>

<address>
    <strong>My personal website:</strong>   <a href="www.ebi.net.nz" target="_blank">www.ebi.net.nz</a><br />
    <strong>My e-mail:</strong>   <a href="mailto:info@ebi.net.nz">info@ebi.net.nz</a><br />
</address>